sudo: required
dist: trusty
language: cpp
compiler:
  - gcc
  - clang
before_install:
  - sudo apt install -y libgmp-dev
script:
  - git clone https://github.com/herumi/cybozulib.git
  - git clone https://github.com/herumi/xbyak.git
  - git clone https://github.com/herumi/mcl.git
  - git clone https://github.com/herumi/bls.git
  - cd bls
  - make test DEBUG=1
  - make clean
  - make
  - make run_go
 
